.btn-sm{
    background-color: rgb(126, 50, 197);
    color: white;
}
a{
    float: right;
}
p #fecha{
    align-self: flex-end;
    
}
button{
    margin-bottom: 0.5rem;
    left: 40%;
    margin-top: 1.5em;
    padding: 0.5rem;
    
  }
div{
    background-image: url(../../assets/pexels-yasin-gündogdu-2644734.jpg);
    background-color: black;
    opacity: 0.9;
}
@media(max-width:575px){
    button{
       
        transform: translateX(-30%); 
    }
}