<section class="page_404">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-10 col-sm-offset-1 text-center">
                        <div class="cuatro_cero_cuatro_bg">
                            <h1 class="text-center ">404</h1>
                        </div>

                        <div class="content-box-404">
                            <h3 class="h2">
                                Parece que estás perdida
                            </h3>
                            <p>¡La página a la que intentas acceder no está disponible!</p>

                            <a href="" class="link_404">Vuelve a inicio</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
