
  <mat-card>
    <mat-card-title style="color: white;">ACERCA DE MI:</mat-card-title>
    <mat-card-content style="color: white;">
        
      <p>  {{perfil.about}} </p>
      <p>  {{perfil.greeting}}  </p>
     
      </mat-card-content>
  
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-3">
          <a mat-raised-button color="primary" href="#educacion">Atajo a educación <mat-icon>rocket</mat-icon></a>

        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
          <a mat-raised-button color="primary" href="#experiencia"  >Atajo a experiencia <mat-icon>rocket</mat-icon></a>

        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
          <a mat-raised-button color="primary" href="#skills"  >Atajo a skills <mat-icon>rocket</mat-icon></a>

        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
          <a mat-raised-button color="primary" href="#proyecto"  >Atajo a proyectos <mat-icon>rocket</mat-icon></a>

        </div>
      </div>
    
  </mat-card>
